{{#if isInstallable}}
	{{#if installActionString}}
		<button class="b-installer b-installer__button snap-details__action right {{ installHTMLClass }}">{{ installActionString }}</button>
	{{/if}}
	<div class="b-installer__message"></div>
{{/if}}
