<div class="snaps">
	<div class="b-snaplist"></div>

	<div class="clearfix"></div>

	<div class="snaps__add">
		<a href="/store" class="snaps__add__button button button--positive right">Add more snaps</a>
	</div>
</div>
