<div class="snap-details">
	<div class="snap-details__left">
		<img class="snap-details__icon" src="{{ icon }}" />
	</div>
	<div class="snap-details__centre">
		<h1 class="snap-details__name">{{ name }}</h1>
		<div class="snap-details__developer">
			<a href="#">{{ origin }}</a>
		</div>
	</div>
	<div class="snap-details__right">
		{{> installer}}
	</div>
</div>

{{#if description}}
<div class="snap-description clearboth">
	<h3 class="snap-description--about">About</h3>
	<p class="snap-description--content">{{ description }}</p>
</div>
{{/if}}
