<div class="snaps snaps--store">
	<h1 class="snaps--store__title">{{ title }}</h1>

	<div id="site-search">
		<div class="search-toggle">
			<a href="#search-search" class="search-toggle__link open"></a>
			<a href="#" class="search-toggle__link close"></a>
		</div>
		<form action="/search" id="search-form" class="header-search">
			<label for="edit-keys" class="accessibility-aid">Search</label>
			<input type="search" maxlength="255" name="q" id="edit-keys" class="form-text" placeholder="Search" value="{{ query }}" />
			<button type="submit">
				<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 90 90"><g color="#000"><path fill="none" stroke-width="4" overflow="visible" enable-background="accumulate" d="M0 0h90v90H0z"/><path d="M69 36.5a33 33.5 0 1 1-66 0 33 33.5 0 1 1 66 0z" transform="matrix(.636 0 0 .627 16.114 16.12)" fill="none" stroke="#fff" stroke-width="9.5" overflow="visible" enable-background="accumulate" class="svg-search-frame" /><path style="text-indent:0;text-align:start;line-height:normal;text-transform:none;block-progression:tb;-inkscape-font-specification:Sans" d="M55.773 52.917L52.94 55.75l14 14 2.833-2.833-14-14z" font-size="xx-small" fill="#fff" stroke-width="6" overflow="visible" enable-background="accumulate" font-family="Sans" class="svg-search-handle" /><path style="text-indent:0;text-align:start;line-height:normal;text-transform:none;block-progression:tb;-inkscape-font-specification:Sans" d="M60.972 57.03c-1.55.01-3.045 1.023-3.626 2.46-.58 1.436-.21 3.207.898 4.29l9.194 9.2c2.683 2.85 3.262 2.464 5.643.083 2.384-2.38 2.77-2.792-.08-5.646l-9.195-9.2c-.734-.753-1.78-1.192-2.83-1.188z" fill="#fff" stroke-width="11.804" class="svg-search-handle" /></g></svg>
			</button>
		</form>
	</div>

	<div class="region-snaplist"></div>
</div>
